.rem1Margin {
    margin: 1rem;
}

.librebask {
    font-family: 'Libre Baskerville', serif;
}

.josefin {
    font-family: 'Josefin Sans', sans-serif;
}

.contact-fa,
.header-with-fa {
    padding: 20px;
    font-size: 20px !important;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    display: inline;
    color: white;
    text-decoration-line: none !important;
}

a {
    text-decoration: none !important;
}

a:link,
a:visited {
    color: white;
}

a:link:hover,
a:visited:hover {
    color: yellowgreen;
}

hr {
    border: 2px solid white !important;
}

h5 {
    text-align: center;
}

h6 {
    text-align: center;
}

.vl {
    border-left: 2px solid white;
}