.league-spartan {
    font-family: 'League Spartan', sans-serif;
}

body {
    max-width: 800px;
    margin: auto;
    padding-bottom: 50px;
    line-height: 1.2;
}

a,
a:visited {
    text-decoration: none;
}

h1 {
    text-align: center;
}

h4 {
    margin-bottom: 0;
}

#intro {
    padding-left: 0.5%;
    padding-right: 0.5%;
}

#contact-bar {
    text-align: left;
    margin: 2%;
    padding: 0;
}

#icon-linkedin {
    height: 15px;
    width: 15px;
    vertical-align: middle;
    transform: translate(0, -20%);
}

.contact-bar-vert {
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
    display: none;
}

.cv-section {
    margin: 5px;
}

#skill-list {
    width: 100%;
}

.experience {
    list-style-type: '💻  ';
}

.skill {
    list-style-type: '⚡ ';
}

.exp-milestone {
    list-style-type: '💡  ';
}

.education {
    list-style-type: '📘  ';
}

footer {
    margin: 5%;
}

.contact-element {
    padding: 1%;
}

[class*="col-"] {
    width: 100%;
}


li.employer, li.experience, li.exp-milestone {
    margin-left: -6%;
}

@media only screen and (min-width: 768px) { /* for desktop */
    .contact-element      {
        display: inline;
        padding: 0%;
    }

    .contact-bar-vert {
        padding-left: 5px;
        padding-right: 5px;
        vertical-align: middle;
        display: inline
    }

    #contact-bar {
        text-align: center;
        margin: 0;
        padding: 0%;
    }

    #skill-list {
        width: 100%;
        column-count: 4;
    }

    li.employer, li.experience, li.exp-milestone {
        margin-left: auto;
    }
}