.league-spartan {
    font-family: 'League Spartan', sans-serif;
}

body {
    max-width: 800px;
    margin: auto;
    padding: 1%;
}

#furnace {
    padding: 2%;
}

#pizzalysis {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1%;
}

#error-message {
    display: none;
    background-color: rgb(182, 29, 29);
    padding: 2%;
    color: lightgray;
    font-weight: bolder;
    font-style: italic;
}

.pizza-data {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1%;
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}